<div class="container">
  <form action="">
    <div id="DatosPersonales" class="borde">
      <h4 class="text-left">Nuevo producto</h4>

      <!-- cajas-->
      <div class="form-group row">
        <label for="Nombre" class="col-sm-2 col-form-label text-right">Nombre</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="Nombre" placeholder="Ej: galletas" [(ngModel)]="producto.nombre" name="nombre">
        </div>
      </div>
      <div class="form-group row">
        <label for="Precio" class="col-sm-2 col-form-label text-right">Precio</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="Precio" placeholder="Ej: 1200 " [(ngModel)]="producto.precio" name="precio">
          <small id="emailHelp" class="form-text text-muted text-left">El precio es dado en pesos colombianos (COP).</small>
        </div>
      </div>
      <div class="form-group row">
        <label for="Unidad medida" class="col-sm-2 col-form-label text-right">Unidad medida</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="Unidad medida" placeholder="Ej: Und | Kg | Lb etc" [(ngModel)]="producto.undMed"
            name="undMed">
        </div>
      </div>
      <div class="form-group row">
        <label for="cantidad" class="col-sm-2 col-form-label text-right">Cantidad</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="cantidad" placeholder="EJ: 300" [(ngModel)]="producto.cantidad"
            name="cantidad">
        </div>
      </div>
      <div class="form-group row">
        <label for="CodigoSKU" class="col-sm-2 col-form-label text-right">CodigoSKU</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="CodigoSKU" placeholder="Ej: 2120011154021" [(ngModel)]="producto.codigoSKU"
            name="codigoSKU">
        </div>
      </div>



      <p>{{producto.cantidad}}</p>
      <p>{{producto.codigoSKU}}</p>
      <p>{{producto.id}}</p>
      <p>{{producto.nombre}}</p>
      <p>{{producto.precio}}</p>
      <p>{{producto.total}}</p>

    </div>
  </form>
  <div class="text-right col-12 my-2">
    <button type="button" class="btn btn-info mx-1" data-toggle="modal" data-target="#confirmacion" (click)="crearProducto()">Guardar</button>
    <button type="button" routerLink="/login/" class="btn btn-info mx-1">Cancelar</button>
  </div>
</div>
