

<div class="container">

  <div class="row justify-content-center borde">

    <div class="col-8 ">
        <h4 class="text-left">Inventario del supermercado</h4>
        <p class="text-left">
            de click sobre el un item de la lista para ver mas detalles
          </p>
      <div class="text-center ">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Producto</th>
              <th scope="col">Cantidad</th>
              <th scope="col">Precio Und</th>
              <th scope="col">Precio total</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of prueba; let i = index" [routerLink]="['/bodeguero/detalleProd',i]">
              <th scope="row">{{i}}</th>
              <td>Mark11111111111111111111111111</td>
              <td>Otto</td>
              <td>@mdo</td>
              <td>@mdo</td>
              <td class="">
                <i [routerLink]="['/bodeguero/detalleProd',i]" class="fas fa-angle-right"></i>
              </td>
            </tr>
          </tbody>
        </table>
        </div>
    </div>
  </div>

</div>
