<div class="container">
  <h1 class="text-left">Nueva compra</h1>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-lg-7 borde">
        <nav class="navbar navbar-light bg-light">
          <form class="form-inline">
            <h3>Productos</h3>
          </form>
        </nav>
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Producto</th>
                <th scope="col">precio</th>
                <th scope="col">cantidad</th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col">Total</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of productos; let i = index">
                <th scope="row">{{i}}</th>
                <td>{{item.nombre}}</td>
                <td>{{item.precio}}</td>
                <td>{{item.cantidad}}</td>
                <td class="">
                  <i (click)="addCantidad(i)" class="fas  fa-plus"></i>
                </td>
                <td>
                  <i (click)="removeCantidad(i)" class="fas fa-minus"></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col borde">
        <h3 class="b1 text-left">Nuevo item</h3>

        <form class="form-inline">

          <label class="sr-only" for="inlineFormInputGroupUsername2">ID</label>
          <div class="input-group mb-2 mr-sm-2">
            <div class="input-group-prepend">
              <div class="input-group-text">ID</div>
            </div>
            <input type="text" class="form-control" id="inlineFormInputGroupUsername2" placeholder="ID">
          </div>

          <label class="sr-only" for="inlineFormInputGroupUsername2">Username</label>
          <div class="input-group mb-2 mr-sm-2">
            <div class="input-group-prepend">
              <div class="input-group-text">Nombre</div>
            </div>
            <input type="text" class="form-control" id="inlineFormInputGroupUsername2" placeholder="Username">
          </div>

          <button type="submit" class="btn btn-info mb-2" (click)="addProduct()">Agregar</button>
          <div class="text-right col-12 my-2">
            <button type="button" class="btn btn-info mx-1" data-toggle="modal" data-target="#exampleModalCenter">Terminar
              compra</button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">

          <!--Inicio-->
          <div class="alert alert-primary" role="alert">
              A simple primary alert—check it out!
            </div>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username with two button addons"
              aria-describedby="button-addon4">
            <div class="input-group-append" id="button-addon4">
              <button class="btn btn-outline-secondary" type="button">Buscar</button>
              <button class="btn btn-outline-secondary" type="button">Crear</button>
            </div>
          </div>
          <form class="mt-3 borde1">
            <div class="form-group row">
              <label for="staticEmail" class="col-sm-2 col-form-label">Cliente</label>
              <div class="col-sm-10">
                <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="indefinido">
              </div>
            </div>
            <div class="form-group row">
                <label for="staticEmail" class="col-sm-2 col-form-label">Total</label>
                <div class="col-sm-10">
                  <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="0">
                </div>
              </div>
              <div class="form-group row">
                  <label for="staticEmail" class="col-sm-2 col-form-label">Fecha</label>
                  <div class="col-sm-10">
                    <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="10/23/2018">
                  </div>
                </div>
          </form>
          <!-- Fin -->
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-info">Save changes</button>
      </div>
    </div>
  </div>
</div>
