<div class="container">
  <h1 class="text-left">Nueva compra</h1>
  <div *ngIf="alertCom" class="alert alert-danger alert-dismissible fade show" role="alert">
    {{messageCom}}
     <button type="button" class="close" data-dismiss="alert" aria-label="Close">
       <span aria-hidden="true">&times;</span>
     </button>
   </div>
   <div *ngIf="successCom" class="alert alert-success alert-dismissible fade show" role="alert">
    {{messageCom}}
     <button type="button" class="close" data-dismiss="alert" aria-label="Close">
       <span aria-hidden="true">&times;</span>
     </button>
   </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-lg-7 borde">
        <nav class="navbar navbar-light bg-light">
          <form class="form-inline">
            <h3>Productos</h3>
          </form>
        </nav>
        <div class="table-responsive">
            <div *ngIf="alertProd"  class="alert alert-warning alert-dismissible fade show" role="alert">
                {{messageProd}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Producto</th>
                <th scope="col">precio</th>
                <th scope="col">cantidad</th>
                <th scope="col"></th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of productos; let i = index">
                <th scope="row">{{i}}</th>
                <td>{{item.nombre}}</td>
                <td>{{item.precio}}</td>
                <td>{{item.cantidad}}</td>
                <td class="">
                  <i (click)="addCantidad(i)" class="fas  fa-plus"></i>
                </td>
                <td>
                  <i (click)="removeCantidad(i)" class="fas fa-minus"></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col borde">
        <h3 class="text-left">Nuevo item</h3>
        <div *ngIf="alertAdd" class="alert alert-danger alert-dismissible fade show" role="alert">
         {{messageAdd}}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form class="form-inline">

          <label class="sr-only" for="inlineFormInputGroupUsername2">ID</label>
          <div class="input-group mb-2 mr-sm-2">
            <div class="input-group-prepend">
              <div class="input-group-text">SKU</div>
            </div>
            <input type="text" class="form-control" id="inlineFormInputGroupUsername2" name="skup" [(ngModel)] = "skup" placeholder="Cod SKU">
          </div>

          <label class="sr-only" for="inlineFormInputGroupUsername2">Username</label>
          <div class="input-group mb-2 mr-sm-2">
            <div class="input-group-prepend">
              <div class="input-group-text">Nombre</div>
            </div>
            <input type="text" class="form-control" id="inlineFormInputGroupUsername2" name="nombrep" [(ngModel)] = "nombrep" placeholder="nombre">
          </div>

          <button type="submit" class="btn btn-info mb-2" (click)="buscarProd()">Agregar</button>

        </form>

      </div>
      <div class="text-right col-12 my-2">
          <button type="button" class="btn btn-info mx-1" data-toggle="modal" data-target="#exampleModalCenter" (click)="iniciarComp()">Terminar
            compra</button>
        </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Terminar compra</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">

          <!--Inicio-->
          <div *ngIf="alertCli" class="alert alert-danger alert-dismissible fade show" role="alert">
            {{messageCli}}
             <button type="button" class="close" data-dismiss="alert" aria-label="Close">
               <span aria-hidden="true">&times;</span>
             </button>
           </div>
           <div *ngIf="successCli" class="alert alert-success alert-dismissible fade show" role="alert">
            {{messageCli}}
             <button type="button" class="close" data-dismiss="alert" aria-label="Close">
               <span aria-hidden="true">&times;</span>
             </button>
           </div>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Cliente" aria-label="Usuario"
              aria-describedby="button-addon4" [(ngModel)]="cliNom" name="nombre">
              <input type="text" class="form-control" placeholder="Identificacion" aria-label="Identificacion"
              aria-describedby="button-addon4" [(ngModel)]="cliId" name="identificacion">
            <div class="input-group-append" id="button-addon4">
              <button class="btn btn-outline-secondary" type="button" (click)="buscarUser()">Buscar</button>
              <button class="btn btn-outline-secondary" type="button" (click)="crearUser()">Crear</button>
            </div>
          </div>
          <form class="mt-3 borde1">
            <div class="form-group row">
              <label for="staticEmail" class="col-sm-2 col-form-label">Cliente</label>
              <div class="col-sm-10">
                <input type="text" readonly class="form-control-plaintext" id="staticEmail" [(ngModel)]="cliente.nombre" name="nombrec">
              </div>
            </div>
            <div class="form-group row">
                <label for="staticEmail" class="col-sm-2 col-form-label">No. prod</label>
                <div class="col-sm-10">
                  <input type="text" readonly class="form-control-plaintext" id="staticEmail" [(ngModel)]="numprod" name="numProd">
                </div>
              </div>
            <div class="form-group row">
              <label for="staticEmail" class="col-sm-2 col-form-label">Total</label>
              <div class="col-sm-10">
                <input type="text" readonly class="form-control-plaintext" id="staticEmail" [(ngModel)]="compra.total" name="total">
              </div>
            </div>
            <div class="form-group row">
              <label for="staticEmail" class="col-sm-2 col-form-label">Fecha</label>
              <div class="col-sm-10">
                <input type="text" readonly class="form-control-plaintext" id="staticEmail" [(ngModel)]="compra.fecha" name="fecha">
              </div>
            </div>
          </form>
          <!-- Fin -->
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-info"  (click)="terminarCompra()" data-dismiss="modal">Completar Compra</button>
      </div>
    </div>
  </div>


</div>
