<div class="container login-container">
  <div class="row">
      <div class="col-md-6 login-form-1">
          <h3>Login super mercado</h3>
          <form>
              <div class="form-group">
                  <input type="text" class="form-control" placeholder="Your Email *" [(ngModel)]="usuario.usuario" name="usuario" />
              </div>
              <div class="form-group">
                  <input type="password" class="form-control" placeholder="Your Password *" [(ngModel)]="usuario.password" name="usuario" />
              </div>
              <div class="form-group">
                  <input type="submit" class="btn btn-info " (click)="doLogin()" value="Login" />
              </div>
              <div class="form-group">
                  <a routerLink="/registro" class=" text-info">Registrar</a>
              </div>
          </form>
      </div>

  </div>
  <div class="">
      <p>Usuarios:</p>
      <p>ROL CAJERO: user : cajero password: password</p>
      <p>ROL BODEGUERO: user : bodeguero password: password</p>
  </div>

</div>
